<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/css/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %}</title>

<body>
  <header>
    <a class="logo" href="/">{% include 'includes/logo.svg' %}</a>
    <button><a href="/">Home</a></button>
    <button><a href="/syllabus">Syllabus</a></button>
    <button><a href="/resources">Resources</a></button>
    <button><a href="/lessons">Lessons</a></button>
    <button><a href="/blog">Blog</a></button>
    <button><a href="/about">About</a></button>
  </header>
  <article>
    {% block body %}{% endblock %}
  </article>
  <footer>
    <p>
      <a href="https://okfn.org/terms-of-use/">Terms of Use</a> |
      <a href="https://okfn.org/privacy-policy/">Privacy Policy</a> | 
      <a href="https://frictionlessdata.io/">Frictionless Data Homepage</a> | 
      <a href="https://okfn.org/">Open Knowledge Foundation Homepage</a>
    </p>
  </footer>
  {% include 'includes/icons.svg' %}
</body>
