<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/css/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %}</title>
<nav>
  <ul class="nav navbar-nav">
    <li{% if this._path == "/" %} class="active"{% endif
      %}><a href="{{ '/'|url }}">Home</a></li>
    {% for href, title in [
      ['/blog', 'Blog'],
      ['/resources', 'Resources'],
      ['/lessons', 'Lessons']
    ] %}
      <li{% if this.is_child_of(href) %} class="active"{% endif
        %}><a href="{{ href|url }}">{{ title }}</a></li>
    {% endfor %}
  </ul>
</nav>
<body>
  <header>
    <a class="logo" href="/">{% include 'includes/logo.svg' %}</a>
  </header>
  <article>
    {% block body %}{% endblock %}
  </article>
  <footer>
    <p>
      <a href="https://okfn.org/terms-of-use/">Terms of Use</a> |
      <a href="https://okfn.org/privacy-policy/">Privacy Policy</a> | 
      <a href="https://frictionlessdata.io/">Frictionless Data Homepage</a>
    </p>
  </footer>
  {% include 'includes/icons.svg' %}
</body>
