{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}

  <h1>{{ this.title }}</h1>

  <div>
  {% if this.subject_img %}
    <img style="width: 50%; display: block; margin-left: auto; margin-right: auto;" src="{{ this.subject_img }}">
  {% endif %}
  </div>
  
  <div>
    {{ this.body }}
  </div>

  <h2 id="week1">{{this.week1Title}}</h2>
  {{this.week1}}

  <h2 id="week2">{{this.week2Title}}</h2>
  {{this.week2}}
  
  <h2 id="week3">{{this.week3Title}}</h2>
  {{this.week3}}
  
  <h2 id="week4and5">{{this.week4and5Title}}</h2>
  {{this.week4and5}}
  
  <h2 id="week6and7">{{this.week6and7Title}}</h2>
  {{this.week6and7}}
  
  <h2 id="week8">{{this.week8Title}}</h2>
  {{this.week8}}
  
  <h2 id="week9">{{this.week9Title}}</h2>
  {{this.week9}}
  
  <h2 id="week10and11">{{this.week10and11Title}}</h2>
  {{this.week10and11}}
  
  <h2 id="week12">{{this.week12Title}}</h2>
  {{this.week12}}
  
  <h2 id="week13">{{this.week13Title}}</h2>
  {{this.week13}}
  
  <h2 id="week14and15">{{this.week14and15Title}}</h2>
  {{this.week14and15}}
  
  <h2 id="week16">{{this.week16Title}}</h2>
  {{this.week16}}
  
  <h2 id="week17">{{this.week17Title}}</h2>
  {{this.week17}}
  
  <h2 id="week18">{{this.week18Title}}</h2>
  {{this.week18}}
  
  <h2 id="week19">{{this.week19Title}}</h2>
  {{this.week19}}
  
  <h2 id="week20">{{this.week20Title}}</h2>
  {{this.week20}}
  
  <h2 id="week21">{{this.week21Title}}</h2>
  {{this.week21}}
  
  <h2 id="week22">{{this.week22Title}}</h2>
  {{this.week22}}
  
  <h2 id="week23">{{this.week23Title}}</h2>
  {{this.week23}}
  
  <h2 id="week24">{{this.week24Title}}</h2>
  {{this.week24}}
  
  <h2 id="week25">{{this.week25Title}}</h2>
  {{this.week25}}
  
  <h2 id="week26">{{this.week26Title}}</h2>
  {{this.week26}}
  
  <h2 id="week27">{{this.week27Title}}</h2>
  {{this.week27}}
  
  <h2 id="week28">{{this.week28Title}}</h2>
  {{this.week28}}
  
  <h2 id="week29and30">{{this.week29and30Title}}</h2>
  {{this.week29and30}}
  
  <h2 id="week31">{{this.week31Title}}</h2>
  {{this.week31}}
  
  <h2 id="week32">{{this.week32Title}}</h2>
  {{this.week32}}
  
  <h2 id="week33">{{this.week33Title}}</h2>
  {{this.week33}}
  
  <h2 id="week34">{{this.week34Title}}</h2>
  {{this.week34}}
  
  <h2 id="week35">{{this.week35Title}}</h2>
  {{this.week35}}
  
  <h2 id="week36and37">{{this.week36and37Title}}</h2>
  {{this.week36and37}}

{% endblock %}